/* Estilos CSS */

.table-container {
  display: flex;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 0.5px;
  -webkit-border-radius: 0.5px;
  -moz-border-radius: 0.5px;
  -ms-border-radius: 0.5px;
  -o-border-radius: 0.5px;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.table-title {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}
.table1 tr:nth-child(odd) {
  width: 100%;
  background-color: #898989;
}
.table1 tr:nth-child(even) {
  width: 100%;
  background-color: #f5f5f5;
}
.td1 {
  padding: 8px 16px;
  color: #000000;
}
